#mediascreen {
    display: none;
}

#EvilNutella {
    display: block;
    text-align: center;
    margin-top: 5px;
}

@media screen and (min-width: 650px) {

#mediascreen {
    display: block;
}

#logo {
    width: 550px;
    top: 10px; /* Abstand vom oberen Rand */
    left: 50%; /* Mitte der Box */
    transform: translateX(-50%); /* genau horizontal zentrieren */
    position: absolute;
}

#hoshina {
    display: block;
    width: 180px;
}

#discord {
    width: 80px;
}

#discord-link {
    position: absolute;
    bottom: 3px; /* Abstand vom unteren Rand */
    left: 50%; /* Mitte der Box */
    transform: translateX(-50%); /* genau horizontal zentrieren */
}

#main {
    margin-left: 10px;
    border-right: 1px solid lightgray;
    margin-top: 25px;
    width: 50%;
}

#text {
    margin-right: 45px;
}

h1 {
    margin-top: 0px;
}

#h1 {
    margin-top: 0px;
    margin-left: 35px;
}

#flex {
    display: flex;
    flex-direction: row;
}

#pssh {
    width: 120px;
}

.schrift {
    font-family: "Dancing Script", cursive;
}

#linkbox {
    display: block;
    margin-top: 25px;
    background-image: url(baby-deer.gif);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right bottom;
    height: 400px;
    width: 50%;
}

#ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin-left: 10px;
}

#ul2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27%;
    margin-left: 66px;
    margin-bottom: 0px;
}

li {
    font-size: large;
    font-weight: bold;
    color: black;
}

#listen {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#verify{
    margin-left: 90px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    background:
        linear-gradient(to left,
            #301934 0%,
            #4a3262 12.5%,
            #b366ff 25%,
            #cc80ff 37.5%,
            #d9b3ff 50%,
            #cc80ff 62.5%,
            #b366ff 75%,
            #4a3262 87.5%,
            #301934 100%,
            #4a3262 112.5%,
            #b366ff 125%);
}

#links {
    margin-left: 12px;
}

#rechts {
    margin-right: 12px;
}

.farbe {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 0.04em;
}

a {
    text-decoration: none;
}

.farbe:hover {
color: #0c7613;
}

li:hover {
    text-decoration: underline;
    color: #0c7613;
}

#logobox {
    background:
        linear-gradient(to left,
            #301934 0%,
            #4a3262 12.5%,
            #b366ff 25%,
            #cc80ff 37.5%,
            #d9b3ff 50%,
            #cc80ff 62.5%,
            #b366ff 75%,
            #4a3262 87.5%,
            #301934 100%,
            #4a3262 112.5%,
            #b366ff 125%);
    border-radius: 12px;
    height: 200px;
    background-size: 400%;
    animation: shimmerBg 5s linear infinite;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

@keyframes shimmerBg {
    0% {
        background-position: 0% 62.5%;
    }

    100% {
        background-position: 125% 62.5%;
    }
}

#EvilNutella {
    display: none;
}
}

